html {
  background: #282c34;
}

.App {
  /* text-align: center; */
  margin-left: 4em;
  margin-right: 4em;
}

#header-content {
  margin-left: 0px;
  margin-right: 0px;
  background-color: #282c34cb;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  font-size: calc(10px + 2vmin);
  color: white;
  position: fixed;
  height: 60px;
	top: 0;
  z-index: 1;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

/* Sections */
.Section {
  margin-top: 180px;
  /* margin-bottom: 50px; */
}

.Section-Header {
  display: flex;
  flex-direction: row;
}

.Section-Header > h4 {
  margin-right: 1em;
}

/* about */
#About-Content {
  display: flex;
}

#portrait {
  width: 250px;
  height: 340px;
  border-radius: 15px;
  display: flex;
  align-self: center;
  margin: 20px;
}

.Tech-List {
  /* display: flex;
  flex-direction: row; */
  list-style: none;
}

.Tech-List > li {
  margin-right: 40px;
  display: inline;
}

#Welcome {
  background: rosybrown;
  border-radius: 20px;
  padding: 20px;
}

/* Projects  */

.Card-Image {
  width: 400px;
  height: 340px;
  border-radius: 15px;
}

.Project-Card {
  text-align: center;
}